<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles1.css">
    <title></title>
  </head>
  <body class="back" >
    <div >
      <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand my-brand" href="/">Slam Book</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link my-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link my-link" href="/login" role="button">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link my-link" href="/Signup">SignUp</a>
            </li>
          </ul>
        </div>
      </nav>
        <div class="back"> 
            <div class = "conatiner-fluid fhead">
              <h1 class="heading">Welcome to Slam Book</h1>
              <h2> “To the world you may be just one person, but to one person you may be the world.”</h2>
            </div>
        </div>

    </div>
  </body>
</html>